

<div class="text-center">
  <img src="/assets/img/burger.jpeg" alt="Burger Pic">
</div>

<h2 class="text-center">Eat-Da-Burger!</h2>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <ul id="not-eaten">
        {{#each burgers}}
          {{#unless devoured}}
              <div>
                <p class="item-list" class="border">{{id}} {{burger_name}} 
                </p>
                <button class="devour btn btn-light" type="button" data-id="{{id}}" data-newburger="{{burger_name}}" data-newdevour="{{devoured}}">
                  DEVOUR IT!
                </button>
              </div>
          {{/unless}}
        {{/each}}
      </ul>      
    </div>
    <div class="col-4">
      <ul id="eaten">
        {{#each burgers}}
          {{#if devoured}}
            <p class="item-list">{{id}} {{burger_name}}</p>
          {{/if}}
        {{/each}}
      </ul>     
    </div>
  </div>
</div>




<form class="create-form text-center">

  <div class="form-group">
    <input type="text" id="burger-name" name="name">
  </div>
  <button id="change-eat" type="submit">Submit</button>
  <br>
  <p class="text-center">Enter a burger you want to eat, then click the Submit button.</p>
</form>

